hrms_app
hrms
views_old
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.idea
config/config-self.yaml
# config/config-test.yaml
test-results.txt
# .roomodes
# .costrict
build/
bin/
hrms_C001_backup*
excel/
